* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

/*começo do css*/

.tela {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5ceaff, #9df1ff, #bff8ff);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 140px;
    animation: mario-jump 12s infinite linear;
}

.nuvens {
    position: absolute;
    width: 550px;
    animation: nuvens-animation 20s infinite linear;
    bottom: 350px;
    overflow: hidden;
    filter: blur(0.6px);
    opacity: 0.9;
}

.bird {
    position: absolute;
    bottom: 350px;
    width: 50px;
    animation: bird 10s infinite linear;
    right: -80%;
    overflow: hidden;
}

.bloco-centro {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    gap: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    transform: translateY(40px);
    image-rendering: pixelated;
    border: 6px solid black;
    animation: popup 0.8s ease;
}

/*css dentro do bloco do menu */

.titulo {
    color: #e8fffd;
    transform: translateY(-35px);
    text-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
}

.start {
    font-size: medium;
    width: 220px;
    height: 50px;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid black;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #00faff, 0 0 25px #00faff;
}

.start:hover {
    color: #106ad1;
    transition: 150ms;
    transform: scale(1.2);
    filter: brightness(1.2);
}

.config {
    font-size: medium;
    width: 220px;
    height: 50px;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid black;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #00faff, 0 0 25px #00faff;
}

.config:hover {
    color: #106ad1;
    transition: 150ms;
    transform: scale(1.2);
    filter: brightness(1.2);
}

.creditos {
    font-size: medium;
    width: 220px;
    height: 50px;
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid black;
    text-decoration: none;
    color: #ffffff;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px #00faff, 0 0 25px #00faff;
}

.creditos:hover {
    color: #106ad1;
    transition: 150ms;
    transform: scale(1.2);
    filter: brightness(1.2);
}

/*chão da tela de menu*/

.grass {
    width: 100%;
    height: 15px;
    background-color: #07af23;
}

.ground {
    background-color: rgb(100, 59, 6);
    width: 100%;
    height: 125px;
}

/*animações na tela de menu */

@keyframes nuvens-animation {
    from {
        right: -550px;
    }

    to {
        right: 100vw;
    }
}

@keyframes bird {
    from {
        right: -0px;
    }

    to {
        right: 100vw;
    }
}

@keyframes popup {
    from { transform: translateY(80px) scale(0.9); opacity: 0; }
    to   { transform: translateY(40px) scale(1); opacity: 1; }
}

@keyframes mario-jump {
    
    0% {
        bottom: 140px;
    }

    2% {
        bottom: 320px;
    }
    5% {
        bottom: 140px;
    }

    30% {
        left: 0px;
    }

    50% {
        left: 200px;
    }

    55% {
        left: 200px;
    }

    70% {
        left: 0px;
    }

    100%{
        bottom: 295px;
    }
}

/*responsividade para telas com mais de 1600px, focar em mobile depois*/

@media (min-width: 1600px) {

    .bloco-centro {
        width: 650px;
        height: 650px;
        gap: 30px;
        transform: translateY(50px);
        font-size: 1.3rem;
    }

    .titulo {
        font-size: 2.2rem;
        transform: translateY(-45px);
    }

    .start, .config, .creditos {
        width: 280px;
        height: 70px;
        font-size: 1.2rem;
        border-width: 5px;
    }

    .mario {
        width: 200px;
        bottom: 295px;
    }

    .nuvens {
        width: 700px;
        bottom: 580px;
        animation-duration: 25s;
    }

    .bird {
        width: 70px;
        bottom: 680px;
        animation-duration: 12s;
    }

    .ground {
        height: 280px;
    }

    @keyframes mario-jump {
    
    0% {
        bottom: 295px;
    }

    2% {
        bottom: 475px;
    }
    5% {
        bottom: 295px;
    }

    30% {
        left: 0px;
    }

    50% {
        left: 200px;
    }

    55% {
        left: 200px;
    }

    70% {
        left: 0px;
    }

    100%{
        bottom: 295px;
    }
}
}


