* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.game-board{
   width: 100%;
   height: 550px;
   border-bottom: 15px solid #07af23;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   background: linear-gradient(#2eeeee, #cfd4d0);
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.bird {
    position: absolute;
    bottom: 350px;
    width: 50px;
    animation: bird 10s infinite linear;
    right: -80%;
}

.jump {
    animation: mario-jump 500ms ease-out;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    right: -80px;
    animation: pipe-animation 1.5s infinite linear;
}

.nuvens {
    position: absolute;
    width: 550px;
    animation: nuvens-animation 20s infinite linear;
    filter: blur(0.6px);
    opacity: 0.9;
}

.terra {
   width: 100%;
   height: 90px;
   background-color: rgb(100, 59, 6);
}

.pontos {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 3px solid black;
}

@keyframes mario-jump {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes pipe-animation {
    from {
       right: 0;
    }

    to {
       right: 100%;
    }
}

@keyframes nuvens-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes bird {
    form {
        right: -550px;
    }

    to {
        right: 100%;
    }
}